<h2 class="text-center">Employee List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th> First name </th>
      <th> Last name </th>
      <th> Email </th>
    </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="employees else loading">
    <tr *ngFor="let employee of employees">
      <td> {{employee.firstName}} </td>
      <td> {{employee.lastName}} </td>
      <td> {{employee.email}} </td>
      <td>
        <button (click)="updateEmployee(employee.id)" class="btn btn-info">Update</button>
        <button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>

<ng-template #loading>
  <div class="container">
    <h4>Loading...</h4>
  </div>
</ng-template>
