<div class="col-md-6 offset-md-3">
  <h3> Update employee</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label> First name</label>
      <input [(ngModel)]="employee.firstName" type="text" class="form-control" id="firstName" name="firstName">
    </div>

    <div class="form-group">
      <label> Last name</label>
      <input [(ngModel)]="employee.lastName" type="text" class="form-control" id="lastName" name="lastName">
    </div>

    <div class="form-group">
      <label> Email</label>
      <input [(ngModel)]="employee.email" type="text" class="form-control" id="email" name="email">
    </div>

    <button class="btn btn-success" type="submit">Update</button>
  </form>
</div>
