/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: blue;
  text-align: center;
  color: white;
  display: flex;
}
